title · A fun night of code, waffles, and karaoke.

div( class=className )
  section#header: .container-fluid
    .row.bottom-sm
      .col-xs-12.col-sm-7
        h1 A fun night of code, waffles, and karaoke.

        h3 All proceeds go to 
          a.black( ng-repeat='(name, url) in index.day.charity' ng-href='{{url}}' ) {{name}}
          | .

      .col-xs-12.col-sm-5.details
        h5 Date & Time
        h3: a.black( href='/models/WaffleJS.ics' target='_self' )
          | {{index.day.date | date:'EEEE, MMMM d':'UTC'}} at 7 PM

        h5 Location
        h3
          a.black( href='https://goo.gl/maps/0gkOe' ) SOMA StrEat Food Park 
          |  (in the <a class="black" href="/map" target="_self">barn</a>)
  
  section#hero: .container-fluid

  section#about: .container-fluid: .row
    .col-xs-12.col-sm-6
      :marked
        About
        -----

        WaffleJS is a meetup about web technology with a side of waffles
        and karaoke. We meet on the first Wednesday of every month.

        All participants are expected to follow the [JSConf Code of
        Conduct][1].

        [1]: http://jsconf.com/codeofconduct.html
        
    .col-xs-12.col-sm-6.people
      a( href='https://twitter.com/{{person.twitter}}'
         ng-show='person.twitter'
         ng-repeat='person in index.people | limitTo:28' )
        img(
          title='{{person.name}}'
          ng-style='{width: person.size, height: person.size }'
          ng-src='https://avatars.io/twitter/{{person.twitter}}' )

  section#get-involved( ng-class='{ tba: index.tba }' ): .container-fluid
    h2 Get Involved

    .row.between-xs
      .col-xs-12.col-sm-6
        :marked
          ### Give a Talk
          Your talk can be anything from knitting machines to the JavaScript v8 
          engine. And nope, you don't need to be an expert to speak.

        p: a.btn( ui-sref='speakers' ) Speaker Details

      .col-xs-12.col-sm-6
        :marked
          ### Perform
          You don’t have to be great, just enthusiastic. Try to keep it to 
          around six minutes.

        p: a.btn( ui-sref='performers' ) Performer Details

  section#schedule: .container-fluid: .row
    .col-xs-12.col-sm-6
      .row.between-xs
        .col-xs-6
          h2 Schedule 
        .col-xs-6
          select(
            ng-options='month.day|date:"MMMM d" group by month.date.getFullYear() for month in index.calendar'
            ng-model='index.day'
          )
      ul.schedule: li( ng-repeat='event in index.day.schedule track by $index' )
        .row.row-lg-offset--3( ng-repeat="(time, item) in event" )
          .col-xs-12.col-lg-3.end-lg
            h5 {{time}} 
              span.hide-lg
                span( ng-show='item.type || item.emoji' ) · 
                span( ng-show='item.emoji' ) {{item.emoji}} 
                span( ng-show='item.type' ) {{item.type}}
          .col-xs-12.col-lg-9( ng-show='item.person || item.people || item.type' )
            h5( ng-show='item.person' )
              a.person(
                ng-if='item.person.twitter'
                ng-href='https://twitter.com/{{item.person.twitter}}'
              )
                | {{item.person.name}} #[span.pronouns( ng-if='item.person.pronouns' ) ({{item.person.pronouns}})] · @{{item.person.twitter}}
              a.person(
                ng-if='item.person.github'
                ng-href='https://github.com/{{item.person.github}}'
              )
                | {{item.person.name}} #[span.pronouns( ng-if='item.person.pronouns' ) ({{item.person.pronouns}})] · #[span.github-link: {{item.person.github}}]
            h5( ng-show='item.people' )
              span( ng-repeat='person in item.people' )
                span.separator( ng-hide='$first' ) &
                wbr
                a.person(
                  ng-if='person.twitter'
                  ng-href='https://twitter.com/{{person.twitter}}'
                )
                  | {{person.name}} #[span.pronouns( ng-if='person.pronouns' ) ({{person.pronouns}})] · @{{person.twitter}}
                a.person(
                  ng-if='person.github'
                  ng-href='https://github.com/{{person.github}}'
                )
                  | {{person.name}} #[span.pronouns( ng-if='person.pronouns' ) ({{person.pronouns}})] · #[span.github-link: {{person.github}}]
          .hide-md-down.col-lg-3.end-lg( ng-show='item.type' )
            h5 {{item.type}}
          .col-xs-12.col-lg-9(ng-class='{ "border-bottom": !item.description }')
            h3(ng-show='item.title' marked='item.title')
          .hide-md-down.col-lg-3.end-lg( ng-show='item.emoji && item.description' )
            h5 {{item.emoji}}
          .col-xs-12.col-lg-9(
            ng-class='{ "col-lg-offset-3": !item.emoji, "border-bottom": item.description }'
            marked='item.description' )

  section#sponsors: .container-fluid: .row
    .col-xs-12.col-sm-6
      h2 Sponsors

      p This month’s WaffleJS is sponsored by 
        span( ng-repeat='sponsor in index.day.sponsors' )
          span( ng-show='$middle' ) , 
          span( ng-show='$last && index.day.sponsors.length === 2' )  and 
          span( ng-show='$last && index.day.sponsors.length > 2' ) , and 
          a( href='{{url}}' ng-repeat='(name, url) in sponsor' ) {{name}}
        | .

      p Interested in sponsoring a future event?

      p: a.btn( ui-sref='sponsorship' ) Sponsorship Details

    .col-xs-12.col-sm-6: .row.around-xs.middle-xs
      span( class='sponsor' ng-repeat='sponsor in index.day.sponsors' )
        a( href='{{url}}' ng-repeat='(name, url) in sponsor' )
          img( ng-src='/images/sponsors/{{name}}.svg' )

  section#transparency: .container-fluid
    h2 Transparency

    .row
      .col-xs-12.col-sm-6
        :marked
          ### Finance

          We donate all proceeds every month. Check out our [budget
          spreadsheet][1] to learn more.

          [1]: {{index.day.budget}}

      .col-xs-12.col-sm-6
        :marked
          ### Planning

          We plan everything out in the open. Come chat with us on [Slack][2]
          or chime in on [GitHub][3].

          [2]: http://slack.borojs.com/
          [3]: https://github.com/wafflejs/wafflejs.github.io/issues
